ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

li {
    float: left;
}

li a, .freefallmenu-content a.freefallmenu-button {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .freefallmenu:hover .freefallmenu-button {
    background-color: #111;
}

.freefallmenu {
    float:left;
    display: inline-block;
}

.freefallmenu-content {
    position:absolute;
    top:8px;
    margin:0px;
    perspective: 200px; perspective-origin: 50% 50%;
    transform-style: preserve-3d;
}

.freefallmenu-content .freefallmenu-button {
    transform: translate3d(0px 0px 0px);
    background-color: #444;
    display:block;
}

.freefallmenu-content a.freefallmenu-element {
    backface-visibility: hidden;
    color: black;
    background-color: #ddd;
    text-decoration: none;
    display: block;
    vertical-align: middle;
    padding: 10px 16px;
}

.freefallmenu-content a:hover {background-color: #ccc;}

.freefallmenu:hover .freefallmenu-content {
    display: block;
}
